.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.app-title {
  font-size: 5.5em;
  color: #007bff;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.app-title:hover {
  color: #0056b3;
  transform: scale(1.05);
}

.account-info {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 20px;
}
